@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	font-family: 'Poppins';
}

body {
	position: unset !important;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: #FFD70099;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #FFFFFF;
}

/*
.skiptranslate.goog-te-gadget {
	position: relative;
	width: 100%;
	max-width: 320px;
}

.skiptranslate.goog-te-gadget select {
	width: 100%;
	padding: 0.625rem 2.5rem 0.625rem 1rem;
	background-color: #111113;
	border: 1px solid #374151;
	border-radius: 0.5rem;
	color: white;
	font-size: 1rem;
	appearance: none;
	transition: all 0.2s ease;
}

.skiptranslate.goog-te-gadget select:focus {
	outline: none;
	border-color: #facc15;
	box-shadow: 0 0 0 2px rgba(250, 204, 21, 0.25);
}

.skiptranslate.goog-te-gadget::after {
	content: "\ea4e";
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	color: #9ca3af;
	pointer-events: none;
}
*/

/* Main container */
#google_translate_element {
	font-family: inherit;
	margin: 0.5rem 0;
}

/* Gadget container */
.goog-te-gadget {
	color: #E5E7EB !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.875rem;
}

/* Language dropdown */
.goog-te-combo {
	background-color: #111113 !important;
	/* primary-black */
	color: #E5E7EB !important;
	border: 1px solid #374151 !important;
	/* gray-800 */
	border-radius: 0.375rem !important;
	/* rounded-md */
	padding: 0.5rem 1rem !important;
	cursor: pointer;
	transition: all 0.2s ease;
}

.goog-te-combo:hover {
	border-color: #D1A40F !important;
	/* accent-yellow lighter */
}

.goog-te-combo:focus {
	outline: none;
	border-color: #FFD700 !important;
	/* accent-yellow */
	/* box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2) !important; */
}

/* Dropdown options */
/* .goog-te-combo option {
	background-color: #1E1E20 !important;
	primary-light
	color: #e5e7eb !important;
} */

/* Powered by link */
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
	color: #E5E7EB !important;
	text-decoration: none !important;
	display: inline-flex;
	align-items: center;
	transition: color 0.2s ease;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd:hover {
	color: #FFC000 !important;
}

/* Google logo image */
.VIpgJd-ZVi9od-l4eHX-hSRGPd img {
	padding-top: 2px;
}